@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

/*=============== GLOBALES ================*/  
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 100vw;
	height: 100vw;
	overflow-y: auto;
	overflow-x:auto;
}

a {
	text-decoration: none;
}

.container {
	width: 100%;
	/*max-width: 800px;*/
	margin: auto;
	/*min-height: 100vh;*/
}

/*=============== NAVBAR ================*/  

.navbar-nav a:hover{
    background-color: black;
    /*text-decoration: underline ;*/
    font-size: 25px!important;
    transition: all 1s ease-out;
	font-style: italic;
	border-radius: 10px;
}

.logo {
	width: 5rem;
	height: 7rem;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* ––––––––––––––––EFECTO DE ROTACIÓN DEL LOGO––––––––––––––––––– */
/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
.rotate {
	-webkit-animation: rotate 5s normal linear infinite;
	animation: rotate 5s normal linear infinite;
  }
  
  @keyframes rotate {
	0% {
	  -webkit-transform: rotate3d(0, 0, 1, 0deg);
	  transform: rotate3d(0, 0, 1, 0deg);
	}
	25% {
	  -webkit-transform: rotate3d(0, 0, 1, 90deg);
	  transform: rotate3d(0, 0, 1, 90deg);
	}
	50% {
	  -webkit-transform: rotate3d(0, 0, 1, 180deg);
	  transform: rotate3d(0, 0, 1, 180deg);
	}
	75% {
	  -webkit-transform: rotate3d(0, 0, 1, 270deg);
	  transform: rotate3d(0, 0, 1, 270deg);
	}
	100% {
	  -webkit-transform: rotate3d(0, 0, 1, 360deg);
	  transform: rotate3d(0, 0, 1, 360deg);
	}
  }

/*=============== BANNER ================*/
h1{
	text-decoration: none ;
}

h1:hover{
	font-style: italic;
	text-decoration: underline ;
}

.banner-image {
	background-image: url('../img/2.jpeg');
	background-size:cover;
	background-position: center top;
	background-attachment: fixed;
}

.bg-dark{
	z-index: 20;
	width: 100%;
	background-color: rgb(11, 48, 48);
}

@media (min-width: 992px) {
	.bg-dark{
	background-color:transparent!important;
	}	
}

.btn-dev {
	padding: 10px 12px;
	color: #fff;
	background-color: black;
	font-size: 1.5em;
	/*font-weight: bold;*/
	text-decoration: none;
}

.btn-dev:hover {
	color: #fff;
	background-color: red;
	font-style: italic;
}  

/*=============== Cards ================*/
.card {
	border-radius: 20px;
	display: block;
	top: 0px;
	position: relative;
	max-width: 90%;
	height: 80%;
	border-radius: 4px;
	padding: 32px 24px;
	margin: 12px;
	text-decoration: none;
	z-index: 0;
	overflow: hidden;
	border: 1.5px outset #cccccc;
	
	align-items: center;
	align-content: center;
	
}
   
.card:hover {
	  transition: all 0.2s ease-out;
	  top: -4px;
	  border: 1px solid #cccccc;
	  background-color: rgba(143, 228, 236, 0.941);
	  /* https://cssgenerator.org/box-shadow-css-generator.html */
	  box-shadow: 2px -1px 5px 15px  rgba(67, 66, 66, 0.515);
      -webkit-box-shadow: 2px -1px 5px 15px  rgba(70, 180, 217, 0.477);
      -moz-box-shadow: 2px -1px 5px 15px rgb(48, 46, 46);
}
  
.card:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: -16px;
	  right: -16px;
	  background: #010101;
	  height: 32px;
	  width: 32px;
	  border-radius: 32px;
	  transform: scale(2);
	  transform-origin: 50% 50%;
	  transition: transform 0.15s ease-out;
}
  
.card:hover:before {
	  transform: scale(2.15);
	  /* https://cssgenerator.org/box-shadow-css-generator.html */
	  box-shadow: 2px -1px 5px 15px  rgba(2, 2, 2, 0.515);
      -webkit-box-shadow: 2px -1px 5px 15px  rgba(101, 96, 96, 0.948);
      -moz-box-shadow: 2px -1px 5px 15px rgb(13, 12, 12);
}
  
.card img {
    height: 280px;
	width: 480px;
    border-radius: 20px;
}

.card p {
	text-align: center;
}

.card-title {
	text-align: center;
}

/*-----------------------------------------*/
/*-------------- FOOTER-------------------*/
/*----------------------------------------*/
.footer_imgArg{
		width: 10px;
		height: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		align-content: stretch;
		flex-direction: row;
		border-radius: 5px;
}
	
.footer__quickLinks {
		list-style: none;
}
	  
.footer__quickLinks__a {
		text-decoration: none;
		color: white;
		font-size: 20px;
}
	
.footer__quickLinks__a:hover {
		color: red;
		-webkit-transition: 1s;
		transition: 1s;
}
	  
.footer__quickLinks__redes {
		font-size: 2rem;
		color: white;
}

/*=========== BOTON ARRIBA ============*/

/* GOTOP */
.go-top-container {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 3rem;
	height: 2rem;
	z-index: -1;
}
  
.go-top-button {
	width: 5px;
	height: 5px;
	border-radius: 200%;
	cursor: pointer;
	transition: 0.2s;
	position: absolute;
	top: 40%;
	left: 55%;
	transform: translate(-50%, -50%);
	z-index: -1;
	display: block;
	background-color: rgba(128, 128, 128, 0.488);
}
  
.go-top-button i {
	position: absolute;
	font-size: 2.7rem;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: red;
	transition: 0.2s;
}
  
.show {
	z-index: 10;
}
  
.show .go-top-button {
	animation: popup 0.3s ease-in-out;
	width: 6.6rem;
	height: 6.6rem;
	z-index: 11;
}
  
.show i {
	transform: translate(-50%, -50%) scale(1);
}
  
@keyframes popup {
	0% {
		width: 0;
		height: 0;
	}
	50% {
		width: 8rem;
		height: 8rem;
	}
	100% {
		width: 6.6rem;
		height: 6.6rem;
	}
}
  
/*=======================================================================================================
=                                        Medias queries                                                  =
========================================================================================================*/
/* col-xs */
@media (max-width: 767px) {
	.card img{
		width: 95%;
		height: 200px;
		object-fit: cover;
		object-position: top;
	}

    .banner-image {
        background-position: center center;
    }

	h1{
		color: white;
		font-size: 1em;
		margin: 0.47em 0;
	}

	.logo {
		width: 3rem;
		height: 4rem;
	}
}

/* col-sm */
@media (min-width: 768px) and (max-width: 991px) {
	h1{
		color: white;
		font-size: 1em;
		margin: 0.47em 0;
	}

}

/* col-md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* col-lg */
@media (min-width: 1200px) {
    
}

/*col-sm col-md col-lg*/
@media (min-width: 768px) {

}